.body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0));
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 20s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));

}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;

}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }

  to {
    transform: translateX(var(--scroll-end));
  }
}

.bg-1 {
  background-image: url("./Assets/bg1.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.nav-font {
  font-family: 'Nunito';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-head {
  font-family: 'Lexend';
  margin-top: 10vh;
}

.t-red {
  color: #D33F00;
  font-weight: 600;
  margin-left: .8rem;
}

.mission-head {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 7vh;
  margin-bottom: 2vh;
  color: #727272;
}

.mission-content {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 20vh;
}

.bg-2 {
  background-image: url("./Assets/bg2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.provide-card {
  width: 10.4rem;
  height: 8rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 0.75rem;
}

.provide-text {
  color: white;
}

.provide-line1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}

.text-pro {
  color: white;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.04em;
}

.we-provide {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #FFFFFF;
}

.col-gray {
  color: #AAAAAA;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.line1-space {
  margin-top: 2vh;
}

.we-provide-spacer {
  margin-top: 20vh;
}

.line2-space {
  margin-bottom: 30vh;
}

.services {
  margin-bottom: 5vh;
}

.bg-stars {
  background-image: url("./Assets/bgStars.svg");
  background-position: center;
  background-size: cover;
}

.bg-3 {
  background-image: url("./Assets/bg3.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.on-networks {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #FFFFFF;
}

.networks-line2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}

.on-networks {
  margin-top: 10vh;
}

.networks-img {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.what {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  color: #FFFFFF;
  text-align: center;
}

.we-have {
  font-size: 1.5rem;
}

.bg-4 {
  background-image: url("./Assets/bg4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.our-clients {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #FFFFFF;
}

.client-spacer {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.iconImages {
  height: 16.5rem;
}
.iconImages2 {
  height: 26.5rem;
}
.col-gray {
  color: #AAAAAA;
}

.formCont {
  font-family: 'poppins';
  width: 100%;
  border: 0;
  border-bottom: 1px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  border-radius: 0;
}
.form-label{
  color: #FFFFFF;
}

.poppins {
  font-family: 'poppins';
}

#phone {
  border: 0;
  background: transparent;
  color: #FFFFFF;
}

.bg-6 {
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.col-right{
  padding: 5rem;
}
.btn-margin{
  margin-top: 5vh;
}
.form-container{
  padding-bottom: 5vh;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .landing-t-size {
    font-size: 2.7rem;
    line-height: 2.7rem;
    font-weight: 600;
  }

  .provide-line1 {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .text-pro {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .we-provide {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .line1-space {
    margin-top: 5vh;
  }

  .we-provide-spacer {
    margin-top: 10vh;
  }

  .line2-space {
    margin-bottom: 10vh;
  }
  .provide-card {
    width: 8.5rem;
    height: 8rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 0.75rem;
    font-size: .9rem;
    text-align: center;
  }
  .services {
    margin-bottom: 15vh;
  }

  .on-networks {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .networks-line2 {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .what {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .we-have {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .our-clients {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .iconImages {
    height: 8.5rem;
  }
  .iconImages2 {
    height: 15.5rem;
  }
  .col-right{
    padding: 2rem;
  }
  .btn-margin{
    margin-top: 2vh;
  }
  .bg-6{
    border-radius: 1.25rem;
  }
}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 991px) {
  .landing-t-size {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
  }

  .landing-t-size {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
  }

  .provide-line1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .text-pro {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .we-provide {
    font-size: 2rem;
    line-height: 2rem;
  }

  .on-networks {
    font-size: 2rem;
    line-height: 2rem;
  }

  .networks-line2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .our-clients {
    font-size: 2rem;
    line-height: 2rem;
  }

  .iconImages {
    height: 10.5rem;
  }
  .iconImages2 {
    height: 20.5rem;
  }
  .col-right{
    padding: 3rem;
  }
  .bg-6{
    border-radius: 1.25rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 992px) and (max-width: 1024px) {
  .landing-t-size {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
  }
  .bg-5 {
    background-image: url("./Assets/bg5.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
  .landing-t-size {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
  }
  .bg-5 {
    background-image: url("./Assets/bg5.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 3.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 40%;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}