.body {
  margin: 0;
  padding: 0;
}

.bg-1 {
  background-image: url("./Assets/bg1.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.landing {
  height: 100vh;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}